<!DOCTYPE HTML>
<meta charset="UTF-8">
<html>
	<head>
		<title>Ouakle</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->

					<a href=""></a>
				<!-- Menu -->
					
				<!-- Main -->
					<div id="main">
						<table>
							<tr>
								<td width="20%">
								</td>
								<td width="40%">
								<br>
									<form id="search" method="get" action="/search">
										<input type="text" name="query" value="{{query}}" /><br>
										<center><input type="submit" value="Search"/></center>
									</form>
								</td>
								<td width="20%">
								</td>	
							</tr>
						</table>
						{% if isnull|string() == "no" %}
							{% for item in result %}
							<article class="post">
									<h2>{{item}}</h2>
									<a target="_blank" href='https://en.wikipedia.org/wiki/{{item.replace(" ", "_")}}'>
									<p> https://en.wikipedia.org/wiki/{{item.replace(" ", "_")}}</p>
									</a>
									<footer>
									
									
									</footer>
							</article>
							{% endfor %}
						{% else %}
						<p> No results found </p>
						{% endif %}

					</div>
			</div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>